#header{width: auto;}

.primer{padding: 10%;}
.segon{padding: 65px;}
.segon h1{margin:15px;}
.form-select{margin: 10% 0 0 15%;}
.bot{margin: 10% 0 0 30%}
.row h1{text-align: center;}
.ductil{margin:0 0 10% 20%;}